.cards {
    background-color: var(--color-three);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-five);
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem 2rem;
}

.card {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
    width: 300px;
    min-width: 200px;
    align-items: center;
}

.cardIcon {
    font-size: 2rem;
    border: 2px solid var(--color-five);
    border-radius: 500px;
    padding: 15px;
}