header {
    z-index: 10;
    height: 8svh;
    width: 100%;
    background-color: var(--color-two);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

header svg {
    height: 5svh;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerLogo img {
    height: 7.5svh;
}

.search {
    display: flex;
}

.search input {
    background-color: transparent;
    color: var(--color-five);
    padding: 5px 10px 5px 15px;
    border: 2.7px solid var(--color-five);
    border-radius: 50px;
    width: 500px;
    font: var(--main-font);
}

.search input::placeholder {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 1rem;
    color: var(--color-four);
}

.search input::-webkit-search-cancel-button {
    -webkit-appearance: none;

}

.search button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    left: -55px;
}

.fa-magnifying-glass {
    color: var(--color-five);
    font-size: 1.7rem;
}

.headerRight {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 2.7rem;
}

.user,
.cart,
.magnifying-glass {
    color: var(--color-five);
}

.magnifying-glass {
    display: none;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3.5svh;
    align-items: center;
}

.menu-btn div {
    height: 15%;
    width: 40px;
    border-radius: 50px;
    background-color: var(--color-five);
    transition: all .5s;
}

.menu {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    width: 350px;
    position: fixed;
    right: 0;
    top: 8svh;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu.active {
    opacity: 1;
    transform: translateX(0);
}

body.menu-open .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

body.menu-open .line2 {
    opacity: 0;
}

body.menu-open .line3 {
    transform: rotate(45deg) translate(-11px, -11.5px);
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu li {
    width: 100%;
    padding: 10px 20px;
}

.menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-one);
    transition: background-size 0.4s ease;
    font-weight: 550;
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--color-four) 100%, transparent 0%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 15px;
}

.menu a:hover {
    background-size: 100% 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 350px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    padding: 10px 0px;
    margin-left: 10px;
}

.sidebar a {
    width: 100%;
}

@media (max-width: 1250px) {
    .magnifying-glass {
        display: block;
    }

    .search {
        display: none;
    }
}

@media (max-width: 500px) {
    .headerRight {
        font-size: 2rem;
    }

    .menu-btn {
        height: 3svh;
    }

    .menu-btn div {
        height: 15%;
        width: 30px;
    }

    .menu {
        width: 100%;
        height: 92svh;
    }

    .menu a {
        border-radius: 0;
        height: 3rem;
        background-size: 100% 100%;
        background-image: none;
    }
    

    .sidebar {
        justify-content: space-around;
        height: 92svh;
    }

    .sidebar li {
        padding: 0;
        margin-left: 0;
    }

    .sidebar a {
        justify-content: center;
        padding: 0;
    }

    body.menu-open .line3 {
        transform: rotate(45deg) translate(-6px, -8px);
    }

}